<header>
 <div class="top-page">
   <div class="main-name">
        <%= link_to "homecooking", root_path, class:"main-title-name" %>
   </div>

   <ul class="lists-right">
    <% if user_signed_in? %>
   <li><%= link_to '料理投稿する', "/cookings/new", class:"post" %></li>
    <li><%= link_to current_user.nickname, "#", class:"user-name" %></li>
    <li><%= link_to 'ログアウト', "/users/sign_out", method: :delete, class:"logout" %></li>
    <% else %>
    <li><%= link_to '新規登録', "/users/sign_up" , class:"sign-up"%></li>
    <li><%= link_to 'ログイン', "/users/sign_in", class:"login"%></li>
    <% end %>
   </ul>
 </div>
</header>