<header>
 <div class="top-page">
   <div class="main-name">
        おうち料理
   </div>
     <img src="https://png.pngtree.com/png-clipart/20190603/original/pngtree-vintage-restaurant-labels-png-image_145183.jpg" alt="おうち料理" class="cook-image">

   <ul class="lists-right">
    <li><%= link_to '新規登録', "#", class:"sign-up"%></li>
    <li><%= link_to 'ログイン', "#", class:"login"%></li>
    <%# <li><%= link_to '料理投稿する', "#", class:"post"%>
    <%# <li><%= link_to '山室大輔', "#", class:"user-name"%>
    <%# <li><%= link_to 'ログアウト', "#",method: :delete, class:"logout"%>
   </ul>
 </div>
</header>