<%= render "header"%>
<div class="main">
 <div class="cooking-post">
  <h2 class="cooking-post-title">料理投稿編集ページ</h2>
  <%= form_with model: @cooking, local: true do |f| %>

   <%= render "devise/shared/error_messages", model: f.object %>
   
  <span class="mandatory">※全項目必須!!</span>
  <div class="post-right-group">
   <div class="post-user-name">
    投稿者
    <span class="post-nickname"><%= current_user.nickname  %></span> 
   </div>

   <label class="post-cook-image">
      <%= image_tag(@cooking.image, class: 'icon', id: "post-icon-image") %>
      <%= f.file_field :image, id:"post-image", class:"uploader", style: 'display:none' %>
   </label>
   <div class="post-cook-name">
    料理名
   </div>
   <%= f.text_field :name, class: "post-name", placeholder: "例)親子丼(20文字まで)" %>
   <div class ="post-cook-point">
    ポイント
   </div>
   <%= f.text_area :point, class: "post-point", placeholder:"例）鶏肉と玉ねぎを切る際に、食べやすいように一口サイズに小さく切った。" %>
  </div>
  <div class="post-left-group">
   <div class="post-cook-material">
    材料
   </div>
   <%= f.text_area :material, class: "post-material", placeholder: "例）2人分&#13;&#10;①鳥もも肉1/2枚 ②玉ねぎ1/2個 ③卵3個&#13;&#10;④ご飯2杯分 ⑤生醤油大さじ2 ⑥みりん大さじ1&#13;&#10;⑦砂糖大さじ1/2 ⑧かつおだし150ml".html_safe %>
   <div class="post-cook-recipe">
    作り方
   </div>
   <%= f.text_area :recipe, class: "post-recipe", placeholder: "例 &#13;&#10;1.鶏肉を一口サイズに切り玉ねぎを薄切りにして卵は溶く。&#13;&#10;2.小鍋に合わせて煮立て、鶏肉に火が通れば卵を入れ半熟状態になれば火を止める。&#13;&#10;3.丼にご飯をよそい、のせれば完成。".html_safe %>
  </div> 
  <div class="post-cook-contents">
   <%= f.submit "編集する", class: "sell-btn"%>
  </div> 
  <% end %>
  <%= link_to '戻る', cooking_path, class: "back-btn"%>
 </div>
</div>
<%= render "footer"%> 