<%= render "header"%>
<div class="main">
  <h2 class="cooking-post-title">料理詳細ページ</h2>
  <div class="show-main">
   <div class="show-left-group">
     <%= image_tag @cooking.image ,class:"show-image"%>
   </div>

   <table class="show-right-group">
     <tbody>
       <tr>
         <th class="show-cook">投稿者</th>
         <td class="show-value"><%= current_user.nickname %></td>
       </tr>
        <tr>
         <th class="show-cook">料理名</th>
         <td class="show-value"><%= @cooking.name %></td>
       </tr>
        <tr>
         <th class="show-cook">材料</th>
         <td class="show-value"><%= @cooking.recipe %></td>
       </tr>
        <tr>
         <th class="show-cook">作り方</th>
         <td class="show-value"><%= @cooking.material %></td>
       </tr>
        <tr>
         <th class="show-cook">ポイント</th>
         <td class="show-value"><%= @cooking.point %></td>
       </tr>
     </tbody>
   </table>
  </div>
</div>
<%= render "footer"%> 